/**
 * -----------------------------------------------
 * Last Modified: 2018-12-26 00:38:59
 * Author: nykim (nykim@nykim.net)
 * Description: NomadConnection Hompage
 * -----------------------------------------------
 */

/*! style.css */
@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 100; src: local("Noto Sans Thin"), local("NotoSans-Thin"), url("../../fonts/eot/NotoSansKR-Thin-Hestia.eot"), url("../../fonts/eot/NotoSansKR-Thin-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/woff/NotoSansKR-Thin-Hestia.woff") format("woff"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 200; src: local("Noto Sans Light"), local("NotoSans-Light"), url("../../fonts/eot/NotoSansKR-Light-Hestia.eot"), url("../../fonts/eot/NotoSansKR-Light-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/woff/NotoSansKR-Light-Hestia.woff") format("woff"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 300; src: local("Noto Sans DemiLight"), local("NotoSans-DemiLight"), url("../../fonts/eot/NotoSansKR-DemiLight-Hestia.eot"), url("../../fonts/eot/NotoSansKR-DemiLight-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/woff/NotoSansKR-DemiLight-Hestia.woff") format("woff"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 400; src: local("Noto Sans Regular"), local("NotoSans-Regular"), url("../../fonts/eot/NotoSansKR-Regular-Hestia.eot"), url("../../fonts/eot/NotoSansKR-Regular-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/woff/NotoSansKR-Regular-Hestia.woff") format("woff"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 500; src: local("Noto Sans Medium"), local("NotoSans-Medium"), url("../../fonts/eot/NotoSansKR-Medium-Hestia.eot"), url("../../fonts/eot/NotoSansKR-Medium-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/woff/NotoSansKR-Medium-Hestia.woff") format("woff"); }

@font-face { font-family: 'Noto Sans KR'; font-style: normal; font-weight: 700; src: local("Noto Sans Bold"), local("NotoSans-Bold"), url("../../fonts/eot/NotoSansKR-Bold-Hestia.eot"), url("../../fonts/eot/NotoSansKR-Bold-Hestia.eot?#iefix") format("embedded-opentype"), url("../../fonts/woff/NotoSansKR-Bold-Hestia.woff") format("woff"); }

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, small article, aside, footer, header, nav, address, section, main, time, ol, ul, li, hr, strong, figure, tr, th, td, dl, dt, dd, fieldset { margin: 0; padding: 0; border: 0; vertical-align: baseline; -webkit-text-size-adjust: none; font-style: normal; }

*, *::before, *::after { -webkit-box-sizing: border-box; box-sizing: border-box; }

[tabindex="-1"]:focus { outline: 0 !important; }

ul, ol, li, dl { list-style: none; }

a:link, a:visited, a:hover, a:active { text-decoration: none; font-family: "Noto Sans KR", AppleGothic, sans-serif, Helvetica; font-weight: 400; outline: 0; color: inherit; font-size: inherit; letter-spacing: inherit; }

a, button { -webkit-tap-highlight-color: rgba(238, 186, 186, 0.4); }

hr { display: none; }

button { display: block; margin: 0; padding: 0; font-family: "Noto Sans KR", AppleGothic, sans-serif, Helvetica; font-weight: 400; border: 0; -webkit-appearance: none; -webkit-border-radius: 0; background: none; cursor: pointer; }

button:focus { outline: 0; }

i { font-style: normal; }

a, area, button, [role="button"], input:not([type="range"]), label, select, summary, textarea { -ms-touch-action: manipulation; touch-action: manipulation; }

table { border-collapse: collapse; }

caption { padding-top: 0.75rem; padding-bottom: 0.75rem; color: #868e96; text-align: left; caption-side: bottom; }

th { text-align: inherit; }

strong { display: block; }

input { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; font-family: "Noto Sans KR", AppleGothic, sans-serif, Helvetica; font-weight: 400; width: 100%; margin: 0; padding: 0; box-sizing: border-box; vertical-align: top; border-radius: 0; -webkit-border-radius: 0px; -webkit-appearance: none; -moz-appearance: none; appearance: none; -webkit-border-radius: 0; background-color: transparent; border: 1px solid transparent; }

input[type="text"], input[type="email"] { -webkit-appearance: none; -moz-appearance: none; appearance: none; }

input:disabled, input[readonly] { opacity: 1; -webkit-text-fill-color: inherit; }

html { overflow: hidden; position: relative; width: 100%; min-width: 100%; min-height: 100%; height: 100%; line-height: 1.15; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -ms-overflow-style: scrollbar; -webkit-tap-highlight-color: transparent; font-size: 62.5%; font-weight: 400; }

@media screen and (max-width: 1200px) { html { font-size: 55%; } }

@media screen and (max-width: 769px) { html { font-size: 50%; } }

body { position: relative; min-height: 100%; height: 100%; overflow-y: auto; font-family: "Noto Sans KR", AppleGothic, sans-serif, Helvetica; font-weight: 400; color: #0c0c0c; text-align: left; font-weight: 400; line-height: 1.5; background-color: #fff; }

.wrap { min-width: 360px; }

.grid { max-width: 1200px; height: 100%; margin: 0 auto; }

@media screen and (max-width: 1200px) { .grid { max-width: 100%; } }

.invisible { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(1px 1px 1px 1px); }

.bold { font-weight: 700; }

.medium { font-weight: 500; }

.primary { color: #ff5900; }

.br-wide { display: block; }

@media screen and (max-width: 1200px) { .br-wide { display: none; } }

.br-pc { display: block; }

@media screen and (max-width: 980px) { .br-pc { display: none; } }

.br-laptop { display: none; }

@media screen and (max-width: 980px) { .br-laptop { display: block; } }

.br-tablet { display: none; }

@media screen and (max-width: 769px) { .br-tablet { display: block; } }

.show-tablet { display: none; }

@media screen and (max-width: 769px) { .show-tablet { display: block; } }

span.show-tablet { display: none; }

@media screen and (max-width: 769px) { span.show-tablet { display: inline-block; } }

.hide-tablet { display: block; }

@media screen and (max-width: 769px) { .hide-tablet { display: none; } }

span.hide-tablet { display: inline-block; }

@media screen and (max-width: 769px) { span.hide-tablet { display: none; } }

.section-visual { height: 980px; color: #fff; background-color: #333; }

@media screen and (max-width: 1200px) { .section-visual { height: 800px; } }

@media screen and (max-width: 980px) { .section-visual { height: 700px; } }

@media screen and (max-width: 769px) { .section-visual { height: 520px; } }

@media screen and (max-width: 640px) { .section-visual { height: 370px; } }

.section-visual > .grid { height: 100%; text-align: center; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; }

@media screen and (max-width: 980px) { .section-visual > .grid { -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: flex-end; -webkit-align-items: flex-start; -moz-align-items: flex-start; -ms-align-items: flex-start; align-items: flex-start; padding: 40px; } }

@media screen and (max-width: 640px) { .section-visual > .grid { padding: 20px; } }

.section-visual .visual-title { margin-bottom: 46px; }

@media screen and (max-width: 980px) { .section-visual .visual-title { margin-bottom: 0; text-align-last: left; } }

.section-visual .visual-title .title-small { line-height: 2; font-size: 22px; letter-spacing: -1px; font-weight: 400; }

@media screen and (max-width: 769px) { .section-visual .visual-title .title-small { font-size: 18px; } }

@media screen and (max-width: 640px) { .section-visual .visual-title .title-small { font-size: 13px; } }

.section-visual .visual-title .title-logo { display: block; width: 501px; height: 39px; margin: 0 auto; background: hotpink; }

@media screen and (max-width: 769px) { .section-visual .visual-title .title-logo { width: 360px; height: 29px; } }

@media screen and (max-width: 640px) { .section-visual .visual-title .title-logo { width: 248px; height: 20px; } }

.section-visual .visual-text { font-size: 20px; letter-spacing: -0.4px; line-height: 1.62; font-weight: 200; }

@media screen and (max-width: 1200px) { .section-visual .visual-text { font-size: 17px; } }

@media screen and (max-width: 980px) { .section-visual .visual-text { display: none; } }

.header { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; height: 106px; padding: 0 40px; background-color: rgba(0, 0, 0, 0.55); border-bottom: 1px solid rgba(255, 255, 255, 0.35); }

@media screen and (max-width: 1200px) { .header { height: 90px; } }

@media screen and (max-width: 980px) { .header { height: 80px; padding: 0 30px; } }

@media screen and (max-width: 769px) { .header { height: 64px; padding: 0 20px; } }

.header > .grid { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; height: 100%; }

.header .logo { z-index: 10; position: relative; width: 167px; height: 40px; margin-left: 10px; background: orange; text-indent: -9999rem; overflow: hidden; cursor: pointer; }

@media screen and (max-width: 980px) { .header .logo { width: 125px; height: 30px; } }

@media screen and (max-width: 769px) { .header .logo { width: 107px; height: 26px; } }

.header .burger { display: none; z-index: 10; position: relative; width: 47px; height: 35px; background: red; cursor: pointer; }

@media screen and (max-width: 769px) { .header .burger { display: block; } }

.header .nav-container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; }

@media screen and (max-width: 769px) { .header .nav-container { display: none; position: fixed; top: 64px; left: 0; width: 100%; height: calc(100vh - 145px - 64px); background: brown; } }

.header .nav { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; }

@media screen and (max-width: 769px) { .header .nav { -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-justify-content: space-around; -moz-justify-content: space-around; -ms-justify-content: space-around; justify-content: space-around; -ms-flex-pack: space-around; width: 100%; } }

.header .nav .nav-item { display: block; margin-left: 80px; font-size: 18px; letter-spacing: 0.4px; color: #fefefe; font-weight: 400; cursor: pointer; }

.header .nav .nav-item a { color: inherit; font-weight: inherit; }

@media screen and (max-width: 1200px) { .header .nav .nav-item { font-size: 16px; margin-left: 60px; } }

@media screen and (max-width: 980px) { .header .nav .nav-item { font-size: 15px; margin-left: 50px; } }

@media screen and (max-width: 769px) { .header .nav .nav-item { margin-left: 0; font-weight: 700; font-size: 32px; margin-top: 50px; } }

@media screen and (max-width: 640px) { .header .nav .nav-item { font-size: 26px; } }

.header .nav .nav-item:hover { color: #ff5900; }

.header .nav .nav-item:first-child { margin-left: 0; margin-top: 0; }

.header .nav-footer { display: none; position: fixed; bottom: 0; left: 0; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; width: 100%; height: 145px; padding: 15px 0; color: #646464; font-size: 10px; text-align: center; background-color: #202020; }

.header .nav-footer-text span { display: block; margin-bottom: 7px; }

.header .nav-footer .link-container { margin: 12px 0; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; }

.header .nav-footer .link-container > [class^=link-] { display: block; width: 20px; height: 20px; background: red; margin: 0 9px; }

header.active .nav-container, header.active .nav-footer { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; }

.section-company { position: relative; }

.article-about { height: calc(497px - 125px); }

@media screen and (max-width: 980px) { .article-about { height: auto; } }

.article-about .about-list { position: absolute; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; width: 100%; max-width: 1200px; top: -125px; }

@media screen and (max-width: 980px) { .article-about .about-list { position: relative; top: 0; } }

@media screen and (max-width: 769px) { .article-about .about-list { -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.article-about .about-list-item { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; position: relative; width: 33.33%; height: 497px; background: #222; }

@media screen and (max-width: 980px) { .article-about .about-list-item { height: 460px; } }

@media screen and (max-width: 769px) { .article-about .about-list-item { -webkit-flex-direction: row; -moz-flex-direction: row; -ms-flex-direction: row; flex-direction: row; width: 100%; height: 160px; padding: 0 80px; } }

@media screen and (max-width: 640px) { .article-about .about-list-item { height: 100px; padding: 0 44px; } }

.article-about .about-list-item .title { position: relative; display: block; }

@media screen and (max-width: 769px) { .article-about .about-list-item .title { width: 50%; margin-right: 50px; } }

@media screen and (max-width: 640px) { .article-about .about-list-item .title { min-width: 102px; margin-right: 45px; } }

.article-about .about-list-item .title i { display: block; width: 55px; height: 55px; margin: 0 auto 20px; background-color: #fff; }

@media screen and (max-width: 980px) { .article-about .about-list-item .title i { width: 48px; height: 48px; background: red; } }

@media screen and (max-width: 769px) { .article-about .about-list-item .title i { width: 38px; height: 38px; margin-bottom: 10px; background: gold; } }

@media screen and (max-width: 640px) { .article-about .about-list-item .title i { width: 28px; height: 28px; background: chocolate; } }

.article-about .about-list-item .title span { display: block; margin: 0 auto 60px; background: #ff5900; }

@media screen and (max-width: 980px) { .article-about .about-list-item .title span { margin-bottom: 30px; } }

@media screen and (max-width: 769px) { .article-about .about-list-item .title span { margin-bottom: 0; background: red; } }

@media screen and (max-width: 769px) { .article-about .about-list-item .list-detail-container { width: 50%; } }

.article-about .about-list-item .list-detail { margin-top: 18px; color: #fff; font-weight: 400; font-size: 21px; line-height: 1.24; letter-spacing: -0.6px; text-align: center; }

.article-about .about-list-item .list-detail:first-child { margin-top: 0; }

@media screen and (max-width: 1200px) { .article-about .about-list-item .list-detail { font-size: 18px; } }

@media screen and (max-width: 980px) { .article-about .about-list-item .list-detail { margin-top: 12px; font-size: 15px; text-align: left; } }

@media screen and (max-width: 769px) { .article-about .about-list-item .list-detail { margin-top: 10px; font-size: 13px; } }

@media screen and (max-width: 640px) { .article-about .about-list-item .list-detail { margin-top: 8px; font-size: 11px; } }

.article-about .about-list-item:nth-child(1) .title span { width: 101px; height: 20px; }

.article-about .about-list-item:nth-child(2) .title span { width: 157px; height: 25px; }

.article-about .about-list-item:nth-child(3) .title span { width: 204px; height: 21px; }

@media screen and (max-width: 980px) { .article-about .about-list-item:nth-child(1) .title span { width: 90px; height: 18px; }
		.article-about .about-list-item:nth-child(2) .title span { width: 140px; height: 22px; }
		.article-about .about-list-item:nth-child(3) .title span { width: 185px; height: 19px; } }

@media screen and (max-width: 640px) { .article-about .about-list-item:nth-child(1) .title span { width: 50px; height: 10px; }
		.article-about .about-list-item:nth-child(2) .title span { width: 78px; height: 12px; }
		.article-about .about-list-item:nth-child(3) .title span { width: 102px; height: 11px; } }

.article-value { padding-top: 137px; padding-bottom: 150px; outline: 3px solid goldenrod; }

@media screen and (max-width: 980px) { .article-value { padding-top: 110px; padding-bottom: 123px; } }

@media screen and (max-width: 769px) { .article-value { display: none; } }

.article-value .article-title { text-align: center; }

.article-value .article-title .title-large { display: block; margin: 0 auto; width: 235px; height: 33px; margin-bottom: 23px; background: gold; }

.article-value .article-title .title-small { font-weight: 200; font-size: 20px; line-height: 1.48; letter-spacing: -0.5px; color: #3a3a3a; }

@media screen and (max-width: 980px) { .article-value .article-title .title-small { font-size: 18px; } }

.article-value .article-title .title-small strong { font-weight: 700; }

.article-value .value-list { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; margin-top: 96px; padding: 0 70px; }

@media screen and (max-width: 769px) { .article-value .value-list { -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; } }

.article-value .value-list .title { font-size: 18px; font-weight: 700; text-align: center; }

@media screen and (max-width: 980px) { .article-value .value-list .title { font-size: 16px; } }

.article-value .value-list .title:before { display: block; width: 90px; height: 90px; margin-bottom: 24px; background: green; content: ''; }

@media screen and (max-width: 980px) { .article-value .value-list .title:before { width: 70px; height: 70px; } }

@media screen and (max-width: 640px) { .article-value .value-list .title:before { width: 50px; height: 50px; } }

.article-vision { padding: 120px 0; background: #000; }

@media screen and (max-width: 980px) { .article-vision { padding: 105px 0; } }

@media screen and (max-width: 769px) { .article-vision { padding: 90px 0 95px; background-color: #f6f6f6; } }

@media screen and (max-width: 640px) { .article-vision { padding: 70px 0 75px; } }

.article-vision .article-title { display: none; color: #fff; text-align: center; }

.article-vision .article-title .title-large { display: block; width: 180px; height: 24px; margin: 0 auto; background: red; }

@media screen and (max-width: 640px) { .article-vision .article-title .title-large { width: 130px; height: 17px; } }

.article-vision .article-title .title-small { display: block; margin-top: 10px; color: #404040; letter-spacing: -0.5px; font-size: 14px; font-weight: 500; }

@media screen and (max-width: 640px) { .article-vision .article-title .title-small { font-size: 12px; } }

@media screen and (max-width: 769px) { .article-vision .article-title { display: block; } }

.article-vision .vision-list { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; height: 100%; outline: 2px solid darkblue; }

@media screen and (max-width: 769px) { .article-vision .vision-list { -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; margin-top: 41px; } }

.article-vision .vision-list-item { position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; margin-left: 65px; line-height: 1.67; font-size: 18px; }

.article-vision .vision-list-item:first-child { margin-top: 0 !important; }

@media screen and (max-width: 980px) { .article-vision .vision-list-item { font-size: 15px; margin-left: 50px; } }

@media screen and (max-width: 769px) { .article-vision .vision-list-item { display: block; margin-left: 0; margin-top: 52px; padding-left: 74px; } }

@media screen and (max-width: 640px) { .article-vision .vision-list-item { padding-left: 68px; margin-top: 40px; } }

.article-vision .vision-list-item:before { display: none; position: absolute; top: 50%; left: 0; width: 50px; height: 50px; background: slateblue; transform: translateY(-50%); content: ''; }

@media screen and (max-width: 769px) { .article-vision .vision-list-item:before { display: block; } }

.article-vision .vision-list-item .vision-title { margin-right: 13px; font-weight: 700; color: #ff5900; letter-spacing: -0.5px; font-size: inherit; text-transform: uppercase; }

@media screen and (max-width: 769px) { .article-vision .vision-list-item .vision-title { min-width: 250px; letter-spacing: -0.8px; } }

@media screen and (max-width: 640px) { .article-vision .vision-list-item .vision-title { min-width: 230px; } }

.article-vision .vision-list-item .vision-text { opacity: 0.9; color: rgba(236, 236, 236, 0.9); font-size: inherit; font-weight: 300; letter-spacing: -0.6px; }

@media screen and (max-width: 769px) { .article-vision .vision-list-item .vision-text { font-size: 13px; word-break: keep-all; color: rgba(0, 0, 0, 0.9); } }

@media screen and (max-width: 640px) { .article-vision .vision-list-item .vision-text { font-size: 11px; } }

.vision-mobile { display: none; padding: 32px 0; background-color: #333; }

.vision-mobile:before { display: block; margin: 0 auto; margin-bottom: 10px; width: 80px; height: 20px; content: ''; background: #fff; }

@media screen and (max-width: 640px) { .vision-mobile:before { width: 65px; height: 16px; } }

@media screen and (max-width: 769px) { .vision-mobile { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; line-height: 1.36; letter-spacing: -0.4px; font-size: 13px; text-align: center; color: #cacaca; } }

@media screen and (max-width: 640px) { .vision-mobile { font-size: 11px; } }

.section-business .feature-list { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; }

.section-business .feature-list-item { position: relative; padding-top: 36px; }

@media screen and (max-width: 980px) { .section-business .feature-list-item { -webkit-flex-basis: 25%; -moz-flex-basis: 25%; -ms-flex-basis: 25%; flex-basis: 25%; padding: 28px 4px 0; text-align: center; } }

@media screen and (max-width: 769px) { .section-business .feature-list-item { padding: 16px 0px 0; } }

@media screen and (max-width: 640px) { .section-business .feature-list-item { padding-top: 10px; } }

.section-business .feature-list-item:before { position: absolute; top: -10px; left: 50%; display: block; width: 18px; height: 18px; background-color: #021424; content: ''; border-radius: 50%; transform: translateX(-50%); }

@media screen and (max-width: 980px) { .section-business .feature-list-item:before { width: 14px; height: 14px; } }

@media screen and (max-width: 769px) { .section-business .feature-list-item:before { width: 11px; height: 11px; } }

@media screen and (max-width: 640px) { .section-business .feature-list-item:before { width: 7px; height: 7px; } }

.section-business .feature-list .feature-title { display: block; font-size: 17px; font-weight: 500; line-height: 1.35; letter-spacing: -0.4px; word-break: keep-all; color: #1f1f1f; }

@media screen and (max-width: 980px) { .section-business .feature-list .feature-title { font-size: 15px; } }

@media screen and (max-width: 769px) { .section-business .feature-list .feature-title { font-size: 13px; } }

@media screen and (max-width: 640px) { .section-business .feature-list .feature-title { font-size: 10px; } }

.section-business .feature-list .feature-text { margin-top: 13px; font-size: 14px; font-weight: 300; line-height: 1.43; letter-spacing: -0.1px; color: #8b8b8b; word-break: keep-all; }

@media screen and (max-width: 980px) { .section-business .feature-list .feature-text { font-size: 13px; } }

@media screen and (max-width: 769px) { .section-business .feature-list .feature-text { display: none; } }

.article-blockchain { position: relative; background-color: #f6f6f6; padding: 230px 0 140px; }

@media screen and (max-width: 980px) { .article-blockchain { padding: 160px 0 100px; } }

@media screen and (max-width: 769px) { .article-blockchain { padding: 100px 0 102px; } }

@media screen and (max-width: 640px) { .article-blockchain { padding: 70px 0 72px; } }

.article-blockchain .article-title { text-align: center; }

.article-blockchain .article-title .title-large { display: block; width: 505px; height: 34px; background: #333; margin: 0 auto; }

@media screen and (max-width: 980px) { .article-blockchain .article-title .title-large { width: 460px; height: 31px; } }

@media screen and (max-width: 769px) { .article-blockchain .article-title .title-large { width: 320px; height: 22px; } }

@media screen and (max-width: 640px) { .article-blockchain .article-title .title-large { width: 275px; height: 19px; } }

.article-blockchain .article-title .title-small { display: block; margin-top: 22px; font-size: 20px; line-height: 1.38; letter-spacing: -0.5px; font-weight: 200; color: #3a3a3a; }

@media screen and (max-width: 980px) { .article-blockchain .article-title .title-small { margin-top: 18px; font-size: 18px; } }

@media screen and (max-width: 769px) { .article-blockchain .article-title .title-small { margin-top: 10px; font-size: 14px; font-weight: 500; color: #404040; line-height: 1.31; letter-spacing: -0.9px; } }

@media screen and (max-width: 640px) { .article-blockchain .article-title .title-small { font-size: 12px; } }

.article-blockchain .article-title .title-small span { color: #000; }

@media screen and (max-width: 769px) { .article-blockchain .article-title .title-small span { color: #404040; } }

.article-blockchain .solution-description { position: relative; padding-top: 470px; }

@media screen and (max-width: 980px) { .article-blockchain .solution-description { padding-top: 370px; } }

@media screen and (max-width: 769px) { .article-blockchain .solution-description { padding-top: 0px; } }

.article-blockchain .solution-description .solution-background { position: absolute; top: 115px; left: 50%; width: 1197px; height: 403px; margin: 0 auto; background-image: url(../images/test.png); background-repeat: no-repeat; background-size: 100%; transform: translateX(-50%); }

@media screen and (max-width: 1200px) { .article-blockchain .solution-description .solution-background { width: 100%; } }

@media screen and (max-width: 980px) { .article-blockchain .solution-description .solution-background { top: 80px; height: 330px; } }

@media screen and (max-width: 769px) { .article-blockchain .solution-description .solution-background { position: relative; top: 50px; left: 0; width: calc(100% - 90px); height: auto; background-size: contain; padding-top: 53%; transform: none; } }

@media screen and (max-width: 640px) { .article-blockchain .solution-description .solution-background { width: calc(100% - 68px); top: 37px; } }

.article-blockchain .solution-description .solution-panel { z-index: 1; position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; width: 865px; padding: 55px 132px 55px 122px; margin: 0 auto; font-weight: 300; box-shadow: 4.9px 6.3px 27.3px 1.7px rgba(0, 0, 0, 0.03); background-color: #ffffff; }

@media screen and (max-width: 980px) { .article-blockchain .solution-description .solution-panel { width: 90%; padding: 45px 90px 45px 90px; } }

@media screen and (max-width: 769px) { .article-blockchain .solution-description .solution-panel { width: calc(100% - 90px); height: auto; padding: 40px 35px; color: #161616; } }

@media screen and (max-width: 640px) { .article-blockchain .solution-description .solution-panel { width: calc(100% - 68px); padding: 27px 22px; } }

.article-blockchain .solution-description .solution-panel .solution-title { display: block; -webkit-flex-shrink: 0; -moz-flex-shrink: 0; -ms-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; margin-right: 64px; text-align: right; font-size: 30px; line-height: 1.1; letter-spacing: -1.2px; }

@media screen and (max-width: 980px) { .article-blockchain .solution-description .solution-panel .solution-title { font-size: 27px; line-height: 1.3; margin-right: 58px; } }

@media screen and (max-width: 769px) { .article-blockchain .solution-description .solution-panel .solution-title { display: none; } }

.article-blockchain .solution-description .solution-panel .solution-title .small { display: block; font-size: 21px; letter-spacing: -0.5px; }

@media screen and (max-width: 980px) { .article-blockchain .solution-description .solution-panel .solution-title .small { font-size: 18px; } }

.article-blockchain .solution-description .solution-panel .solution-text { font-size: 16px; font-weight: 300; color: #323232; letter-spacing: -0.6px; line-height: 1.39; word-break: keep-all; }

.article-blockchain .solution-description .solution-panel .solution-text p:first-child { margin-bottom: 22px; }

@media screen and (max-width: 769px) { .article-blockchain .solution-description .solution-panel .solution-text p:first-child { margin-bottom: 12px; } }

@media screen and (max-width: 980px) { .article-blockchain .solution-description .solution-panel .solution-text { font-size: 15px; } }

@media screen and (max-width: 769px) { .article-blockchain .solution-description .solution-panel .solution-text { font-size: 13px; color: inherit; font-weight: 500; } }

@media screen and (max-width: 640px) { .article-blockchain .solution-description .solution-panel .solution-text { line-height: 1.33; font-size: 11px; } }

.article-blockchain .solution-feature { margin-top: 115px; }

@media screen and (max-width: 980px) { .article-blockchain .solution-feature { margin-top: 90px; } }

@media screen and (max-width: 769px) { .article-blockchain .solution-feature { margin-top: 70px; } }

@media screen and (max-width: 640px) { .article-blockchain .solution-feature { margin-top: 48px; } }

.article-blockchain .solution-feature .feature-list { padding-left: 65px; padding-right: 38px; }

@media screen and (max-width: 980px) { .article-blockchain .solution-feature .feature-list { padding: 0 6.5%; } }

@media screen and (max-width: 769px) { .article-blockchain .solution-feature .feature-list { padding: 0 52px; } }

@media screen and (max-width: 640px) { .article-blockchain .solution-feature .feature-list { padding: 0 38px; } }

.article-ai { position: relative; background-color: #eaeaea; padding: 130px 0 110px; }

@media screen and (max-width: 980px) { .article-ai { padding: 120px 0 100px; } }

@media screen and (max-width: 769px) { .article-ai { padding: 100px 0 102px; } }

@media screen and (max-width: 640px) { .article-ai { padding: 70px 0 72px; } }

.article-ai .article-title { text-align: center; margin-bottom: 118px; }

@media screen and (max-width: 980px) { .article-ai .article-title { margin-bottom: 0; } }

.article-ai .article-title .title-large { display: block; width: 277px; height: 33px; background: #333; margin: 0 auto; }

@media screen and (max-width: 980px) { .article-ai .article-title .title-large { width: 252px; height: 30px; } }

@media screen and (max-width: 769px) { .article-ai .article-title .title-large { width: 164px; height: 20px; } }

@media screen and (max-width: 640px) { .article-ai .article-title .title-large { width: 140px; height: 17px; } }

.article-ai .article-title .title-small { display: block; margin-top: 18px; font-size: 21px; line-height: 1.33; letter-spacing: -0.9px; font-weight: 200; color: #181818; }

@media screen and (max-width: 980px) { .article-ai .article-title .title-small { font-size: 18px; } }

@media screen and (max-width: 769px) { .article-ai .article-title .title-small { margin-top: 10px; font-size: 14px; font-weight: 500; color: #404040; line-height: 1.31; letter-spacing: -0.9px; } }

@media screen and (max-width: 640px) { .article-ai .article-title .title-small { font-size: 12px; } }

.article-ai .article-title .title-small span { color: #000; }

@media screen and (max-width: 769px) { .article-ai .article-title .title-small span { color: #404040; } }

.article-ai .solution-description { position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; width: 1200px; height: 565px; margin: 0 auto; box-shadow: 4.9px 6.3px 27.3px 1.7px rgba(0, 0, 0, 0.03); background-color: #ffffff; }

@media screen and (max-width: 1200px) { .article-ai .solution-description { width: 100%; } }

@media screen and (max-width: 980px) { .article-ai .solution-description { -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; padding-top: 370px; box-shadow: none; height: auto; background-color: transparent; } }

@media screen and (max-width: 769px) { .article-ai .solution-description { padding-top: 0px; } }

.article-ai .solution-description .solution-background { -webkit-flex-shrink: 0; -moz-flex-shrink: 0; -ms-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; width: 737px; height: 100%; background-image: url(../images/bg-ai.png); background-repeat: no-repeat; background-size: cover; }

@media screen and (max-width: 1200px) { .article-ai .solution-description .solution-background { width: 60%; } }

@media screen and (max-width: 980px) { .article-ai .solution-description .solution-background { position: absolute; width: 100%; top: 80px; height: 330px; } }

@media screen and (max-width: 769px) { .article-ai .solution-description .solution-background { position: relative; top: 50px; left: 0; width: calc(100% - 90px); height: auto; margin: 0 auto; background-size: contain; padding-top: 55%; transform: none; } }

@media screen and (max-width: 640px) { .article-ai .solution-description .solution-background { width: calc(100% - 68px); top: 37px; } }

.article-ai .solution-description .solution-panel { z-index: 1; position: relative; -webkit-flex-grow: 0; -moz-flex-grow: 0; -ms-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; background-color: #ffffff; padding: 108px 40px 100px 52px; }

@media screen and (max-width: 1200px) { .article-ai .solution-description .solution-panel { padding: 90px 30px 90px 30px; } }

@media screen and (max-width: 980px) { .article-ai .solution-description .solution-panel { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; width: 90%; margin: 0 auto; padding: 50px 70px; box-shadow: 4.9px 6.3px 27.3px 1.7px rgba(0, 0, 0, 0.03); } }

@media screen and (max-width: 769px) { .article-ai .solution-description .solution-panel { width: calc(100% - 90px); height: auto; padding: 40px 35px; color: #161616; } }

@media screen and (max-width: 640px) { .article-ai .solution-description .solution-panel { width: calc(100% - 68px); padding: 27px 22px; } }

.article-ai .solution-description .solution-panel .solution-title { display: block; margin-bottom: 90px; font-size: 21px; line-height: 1.36; letter-spacing: -0.7px; font-weight: 300; color: #3d3d3d; }

@media screen and (max-width: 980px) { .article-ai .solution-description .solution-panel .solution-title { text-align: right; margin-right: 58px; margin-bottom: 0; font-size: 18px; } }

@media screen and (max-width: 769px) { .article-ai .solution-description .solution-panel .solution-title { display: none; } }

.article-ai .solution-description .solution-panel .solution-title:before { display: block; width: 288px; height: 25px; background: chartreuse; margin-bottom: 29px; content: ''; }

@media screen and (max-width: 980px) { .article-ai .solution-description .solution-panel .solution-title:before { width: 230px; height: 20px; } }

.article-ai .solution-description .solution-panel .solution-text { font-size: 16px; line-height: 1.39; letter-spacing: -0.6px; color: #2d2d2d; word-break: keep-all; }

@media screen and (max-width: 980px) { .article-ai .solution-description .solution-panel .solution-text { font-size: 15px; font-weight: 300; line-height: 1.4; } }

@media screen and (max-width: 769px) { .article-ai .solution-description .solution-panel .solution-text { font-size: 13px; color: inherit; font-weight: 500; } }

@media screen and (max-width: 640px) { .article-ai .solution-description .solution-panel .solution-text { line-height: 1.33; font-size: 11px; } }

.article-ai .solution-description .solution-panel .solution-text p:first-child { margin-bottom: 37px; }

@media screen and (max-width: 980px) { .article-ai .solution-description .solution-panel .solution-text p:first-child { margin-bottom: 22px; } }

.article-ai .solution-feature { margin-top: 133px; }

@media screen and (max-width: 980px) { .article-ai .solution-feature { margin-top: 90px; } }

@media screen and (max-width: 769px) { .article-ai .solution-feature { margin-top: 70px; } }

@media screen and (max-width: 640px) { .article-ai .solution-feature { margin-top: 48px; } }

.article-ai .solution-feature .feature-list { padding-left: 155px; padding-right: 140px; }

@media screen and (max-width: 980px) { .article-ai .solution-feature .feature-list { padding: 0 7.5%; } }

@media screen and (max-width: 769px) { .article-ai .solution-feature .feature-list { padding: 0 60px; } }

@media screen and (max-width: 640px) { .article-ai .solution-feature .feature-list { padding: 0 44px; } }

.article-ai .feature-list-item { flex-basis: auto; }

.section-welfare { background-color: steelblue; padding-top: 205px; }

@media screen and (max-width: 980px) { .section-welfare { padding-top: 150px; } }

@media screen and (max-width: 769px) { .section-welfare { padding-top: 80px; } }

@media screen and (max-width: 640px) { .section-welfare { padding-top: 44px; } }

.section-welfare .article-title { text-align: center; margin-bottom: 114px; }

@media screen and (max-width: 980px) { .section-welfare .article-title { margin-bottom: 90px; } }

@media screen and (max-width: 769px) { .section-welfare .article-title { margin-bottom: 60px; } }

@media screen and (max-width: 640px) { .section-welfare .article-title { margin-bottom: 45px; } }

.section-welfare .article-title .title-large { display: block; width: 297px; height: 33px; background: gold; margin: 0 auto; }

@media screen and (max-width: 980px) { .section-welfare .article-title .title-large { width: 270px; height: 30px; } }

@media screen and (max-width: 769px) { .section-welfare .article-title .title-large { width: 234px; height: 26px; } }

@media screen and (max-width: 640px) { .section-welfare .article-title .title-large { width: 144px; height: 16px; } }

.section-welfare .article-title .title-small { display: block; margin-top: 20px; font-weight: 200; font-size: 21px; line-height: 1.33; letter-spacing: -0.5px; }

@media screen and (max-width: 980px) { .section-welfare .article-title .title-small { font-size: 18px; } }

@media screen and (max-width: 769px) { .section-welfare .article-title .title-small { font-size: 14px; font-weight: 400; } }

@media screen and (max-width: 640px) { .section-welfare .article-title .title-small { font-size: 12px; } }

.section-welfare .culture-list { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; }

@media screen and (max-width: 769px) { .section-welfare .culture-list { -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; padding: 0 20%; } }

@media screen and (max-width: 640px) { .section-welfare .culture-list { padding: 0 50px; } }

.section-welfare .culture-list-item { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; -webkit-flex-basis: 25%; -moz-flex-basis: 25%; -ms-flex-basis: 25%; flex-basis: 25%; margin-left: 18px; }

.section-welfare .culture-list-item .circle { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; width: 192px; height: 192px; color: #fff; font-size: 16px; line-height: 1.61; text-align: center; font-weight: 300; letter-spacing: -0.4px; border: 5px solid rgba(255, 255, 255, 0.4); border-radius: 50%; }

@media screen and (max-width: 980px) { .section-welfare .culture-list-item .circle { width: 170px; height: 170px; font-size: 15px; } }

@media screen and (max-width: 769px) { .section-welfare .culture-list-item .circle { width: 140px; height: 140px; font-size: 13px; border-width: 3px; } }

@media screen and (max-width: 640px) { .section-welfare .culture-list-item .circle { width: 106px; height: 106px; font-size: 10px; } }

@media screen and (max-width: 769px) { .section-welfare .culture-list-item { margin-left: 0; margin-right: 32px; margin-top: 40px; -webkit-flex-basis: 30%; -moz-flex-basis: 30%; -ms-flex-basis: 30%; flex-basis: 30%; -webkit-justify-content: flex-end; -moz-justify-content: flex-end; -ms-justify-content: flex-end; justify-content: flex-end; -ms-flex-pack: flex-end; } }

@media screen and (max-width: 640px) { .section-welfare .culture-list-item { margin-right: 28px; margin-top: 35px; } }

.section-welfare .culture-list-item:first-child { margin-left: 0; }

@media screen and (max-width: 769px) { .section-welfare .culture-list-item:nth-child(2n) { margin-right: 0; -webkit-justify-content: flex-start; -moz-justify-content: flex-start; -ms-justify-content: flex-start; justify-content: flex-start; -ms-flex-pack: flex-start; } }

@media screen and (max-width: 769px) { .section-welfare .culture-list-item:first-child, .section-welfare .culture-list-item:nth-child(2) { margin-top: 0; } }

.section-welfare .article-welfare { position: relative; padding-bottom: 303px; }

@media screen and (max-width: 980px) { .section-welfare .article-welfare { padding-bottom: 0px; } }

.section-welfare .welfare-list { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; position: absolute; bottom: -130px; left: 50%; transform: translateX(-50%); width: 1200px; height: 300px; font-size: 17px; background-color: #fff; }

@media screen and (max-width: 1200px) { .section-welfare .welfare-list { width: 100%; font-size: 15px; } }

@media screen and (max-width: 980px) { .section-welfare .welfare-list { position: relative; bottom: 0; left: 0; transform: none; -webkit-flex-wrap: wrap; -moz-flex-wrap: wrap; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; margin-top: 110px; height: auto; padding: 60px 60px 50px; font-size: 14px; } }

@media screen and (max-width: 769px) { .section-welfare .welfare-list { margin-top: 70px; font-size: 12px; padding: 40px 40px 36px; } }

@media screen and (max-width: 640px) { .section-welfare .welfare-list { margin-top: 44px; font-size: 10px; padding: 30px 10px 26px; } }

.section-welfare .welfare-list-item { position: relative; display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; -webkit-flex-basis: 20%; -moz-flex-basis: 20%; -ms-flex-basis: 20%; flex-basis: 20%; -webkit-flex-grow: 0; -moz-flex-grow: 0; -ms-flex-grow: 0; -ms-flex-positive: 0; flex-grow: 0; text-align: center; height: 100%; }

@media screen and (max-width: 980px) { .section-welfare .welfare-list-item { -webkit-flex-basis: auto; -moz-flex-basis: auto; -ms-flex-basis: auto; flex-basis: auto; min-width: 30%; margin-top: 55px; padding: 0 10px; } }

@media screen and (max-width: 769px) { .section-welfare .welfare-list-item { margin-top: 40px; } }

@media screen and (max-width: 640px) { .section-welfare .welfare-list-item { margin-top: 25px; } }

.section-welfare .welfare-list-item:before { display: block; width: 52px; height: 44px; margin: 0 auto 34px; background: crimson; content: ''; }

@media screen and (max-width: 769px) { .section-welfare .welfare-list-item:before { width: 33px; height: 28px; margin-bottom: 26px; } }

@media screen and (max-width: 640px) { .section-welfare .welfare-list-item:before { width: 26px; height: 22px; margin-bottom: 17px; } }

.section-welfare .welfare-list-item:after { position: absolute; top: 66px; right: 0; display: block; width: 3px; height: 165px; background-color: rgba(172, 172, 172, 0.1); content: ''; }

@media screen and (max-width: 980px) { .section-welfare .welfare-list-item:after { top: 0; height: 100%; width: 2px; } }

.section-welfare .welfare-list-item:last-child:after { display: none; }

@media screen and (max-width: 980px) { .section-welfare .welfare-list-item:nth-child(3n):after { display: none; } }

.section-welfare .welfare-list-item:nth-child(-n+3) { margin-top: 0 !important; }

.section-welfare .welfare-list-item .welfare-title { margin-bottom: 23px; font-size: inherit; letter-spacing: -0.7px; font-weight: 700; }

@media screen and (max-width: 769px) { .section-welfare .welfare-list-item .welfare-title { margin-bottom: 15px; font-size: 13px; } }

@media screen and (max-width: 640px) { .section-welfare .welfare-list-item .welfare-title { margin-bottom: 11px; font-size: 11px; } }

.section-welfare .welfare-list-item .welfare-text { font-weight: 300; font-size: inherit; letter-spacing: -0.4px; color: #9e9e9e; line-height: 1.25; }

.section-contact { background-color: #f6f6f6; }

.article-contact { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; padding-top: 336px; padding-bottom: 110px; }

@media screen and (max-width: 980px) { .article-contact { padding-top: 190px; padding-bottom: 90px; } }

@media screen and (max-width: 769px) { .article-contact { padding-top: 120px; padding-bottom: 65px; } }

@media screen and (max-width: 640px) { .article-contact { padding-top: 54px; padding-bottom: 51px; } }

.article-contact .contact-image { overflow: hidden; display: block; width: 372px; height: 372px; margin-right: 113px; background: deepskyblue; border-radius: 50%; }

@media screen and (max-width: 980px) { .article-contact .contact-image { width: 280px; height: 280px; margin-right: 90px; } }

@media screen and (max-width: 769px) { .article-contact .contact-image { width: 190px; height: 190px; margin-right: 50px; } }

@media screen and (max-width: 640px) { .article-contact .contact-image { width: 137px; height: 137px; margin-right: 26px; } }

.article-contact .contact-container .contact-title { width: 274px; height: 34px; margin-bottom: 32px; background: #4d4d4d; }

@media screen and (max-width: 769px) { .article-contact .contact-container .contact-title { width: 210px; height: 26px; margin-bottom: 15px; } }

@media screen and (max-width: 640px) { .article-contact .contact-container .contact-title { width: 161px; height: 20px; } }

.article-contact .contact-container .address { outline: 2px solid gold; }

.article-contact .contact-container .address .address-site { display: block; color: #ff5900; font-size: 18px; line-height: 1.28; font-weight: 400; letter-spacing: -0.5px; margin-bottom: 30px; }

@media screen and (max-width: 980px) { .article-contact .contact-container .address .address-site { font-size: 17px; margin-bottom: 25px; } }

@media screen and (max-width: 769px) { .article-contact .contact-container .address .address-site { font-size: 13px; margin-bottom: 20px; } }

@media screen and (max-width: 640px) { .article-contact .contact-container .address .address-site { font-size: 11px; margin-bottom: 15px; } }

.article-contact .contact-container .address .address-info li { display: block; font-size: 17px; font-weight: 400; color: #4f4f4f; }

@media screen and (max-width: 980px) { .article-contact .contact-container .address .address-info li { font-size: 16px; } }

@media screen and (max-width: 769px) { .article-contact .contact-container .address .address-info li { font-size: 12px; } }

@media screen and (max-width: 640px) { .article-contact .contact-container .address .address-info li { font-size: 10px; } }

.article-contact .contact-container .address .address-info li:before { display: inline-block; margin-right: 12px; color: #ff5900; font-size: inherit; font-weight: 700; letter-spacing: -0.4px; content: ''; }

.article-contact .contact-container .address .address-info li.tel:before { content: 'T'; }

.article-contact .contact-container .address .address-info li.fax:before { content: 'F'; }

.article-contact .contact-container .address .address-info li.email:before { content: 'E'; }

.article-contact .contact-container .link-map { position: relative; display: inline-block; margin-top: 44px; }

@media screen and (max-width: 980px) { .article-contact .contact-container .link-map { margin-top: 32px; } }

@media screen and (max-width: 769px) { .article-contact .contact-container .link-map { margin-top: 22px; } }

.article-contact .contact-container .link-map span { width: 82px; height: 15px; margin-left: 80px; background: cornflowerblue; }

@media screen and (max-width: 980px) { .article-contact .contact-container .link-map span { margin-left: 60px; } }

@media screen and (max-width: 769px) { .article-contact .contact-container .link-map span { margin-left: 40px; } }

.article-contact .contact-container .link-map:before { position: absolute; top: 50%; left: 0; display: block; width: 67px; height: 3px; background-color: #ff5900; content: ''; transform: translateY(-50%); }

@media screen and (max-width: 980px) { .article-contact .contact-container .link-map:before { width: 50px; } }

@media screen and (max-width: 769px) { .article-contact .contact-container .link-map:before { width: 34px; height: 2px; } }

.article-download { width: 100%; padding: 110px 46px 99px 52px; background: #333; }

@media screen and (max-width: 980px) { .article-download { padding: 100px 40px 80px 40px; } }

@media screen and (max-width: 769px) { .article-download { padding: 60px 0px; } }

@media screen and (max-width: 640px) { .article-download { padding: 27px 0px; } }

.article-download > .grid { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: flex-end; -moz-align-items: flex-end; -ms-align-items: flex-end; align-items: flex-end; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; }

@media screen and (max-width: 769px) { .article-download > .grid { -webkit-flex-direction: column; -moz-flex-direction: column; -ms-flex-direction: column; flex-direction: column; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; text-align: center; } }

.article-download .title-container { -webkit-flex-shrink: 0; -moz-flex-shrink: 0; -ms-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; margin-right: 36px; }

@media screen and (max-width: 769px) { .article-download .title-container { margin-right: 0; } }

.article-download .download-title { opacity: 0.9; color: #fff; font-size: 40px; font-weight: 100; line-height: 1.38; letter-spacing: -1.6px; }

@media screen and (max-width: 980px) { .article-download .download-title { font-size: 35px; line-height: 1.34; } }

@media screen and (max-width: 769px) { .article-download .download-title { font-size: 26px; letter-spacing: -1.5px; } }

@media screen and (max-width: 640px) { .article-download .download-title { font-size: 19px; } }

.article-download .title-text { display: block; margin-top: 25px; font-size: 17px; color: #979696; }

@media screen and (max-width: 980px) { .article-download .title-text { margin-top: 20px; font-size: 15px; } }

@media screen and (max-width: 769px) { .article-download .title-text { display: none; } }

.article-download .button-container { width: 410px; }

@media screen and (max-width: 980px) { .article-download .button-container { width: 340px; } }

@media screen and (max-width: 769px) { .article-download .button-container { width: calc(100% - 120px); max-width: 320px; margin-left: auto; margin-right: auto; } }

.article-download .button-container .button-download { display: block; width: 100%; color: #fff; font-size: 18px; text-align: center; line-height: 47px; background-color: #ff5900; cursor: pointer; margin-top: 20px; }

@media screen and (max-width: 980px) { .article-download .button-container .button-download { line-height: 40px; font-size: 16px; } }

@media screen and (max-width: 769px) { .article-download .button-container .button-download { line-height: 30px; font-size: 12px; margin-top: 18px; } }

.footer { padding: 37px 0; background-color: #2d2d2d; }

@media screen and (max-width: 980px) { .footer { padding: 30px; } }

@media screen and (max-width: 640px) { .footer { padding: 21px 21px; } }

@media screen and (max-width: 375px) { .footer { padding: 21px 15px; } }

.footer > .grid { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: flex-end; -moz-align-items: flex-end; -ms-align-items: flex-end; align-items: flex-end; -webkit-justify-content: space-between; -moz-justify-content: space-between; -ms-justify-content: space-between; justify-content: space-between; -ms-flex-pack: space-between; }

.footer .copyright-container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: flex-end; -moz-align-items: flex-end; -ms-align-items: flex-end; align-items: flex-end; }

@media screen and (max-width: 769px) { .footer .copyright-container { -webkit-justify-content: center; -moz-justify-content: center; -ms-justify-content: center; justify-content: center; -ms-flex-pack: center; } }

.footer .copyright-container .logo { width: 103px; height: 25px; margin-right: 15px; background: saddlebrown; }

@media screen and (max-width: 640px) { .footer .copyright-container .logo { width: 83px; height: 16px; margin-right: 8px; } }

@media screen and (max-width: 375px) { .footer .copyright-container .logo { width: 68px; height: 13px; } }

.footer .copyright-container .copyright { font-size: 13px; letter-spacing: -0.3px; font-weight: 500; color: #575757; }

@media screen and (max-width: 640px) { .footer .copyright-container .copyright { font-size: 10px; } }

.footer .link-container { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-align-items: center; -moz-align-items: center; -ms-align-items: center; align-items: center; }

.footer .link-container > [class^=link-] { display: block; margin-left: 13px; width: 32px; height: 32px; background: blueviolet; }

@media screen and (max-width: 640px) { .footer .link-container > [class^=link-] { width: 20px; height: 20px; margin-left: 14px; } }
