// section-company
.section-company {
  position: relative;
}

// article-about
.article-about {
  height: calc(497px - 125px);

  @include res--laptop {
    height: auto;
  }

  .about-list {
    position: absolute;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    width: 100%;
    max-width: 1200px;
    top: -125px;

    @include res--laptop {
      position: relative;
      top: 0;
    }

    @include res--tablet {
      @include flex-direction(column);
    }
  }

  .about-list-item {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    width: 33.33%;
    height: 497px;
    background-position: 50%;

    &.list-award {
      @include bgi("bg/bg-about-award");
      background-size: cover;

      @include res--tablet {
        background-image: none;
        background-color: #1c1c1c;
      }
    }

    &.list-technique {
      @include bgi("bg/bg-about-technique");
      background-size: cover;

      @include res--tablet {
        background-image: none;
        background-color: $orange;
      }
    }

    &.list-certification {
      @include bgi("bg/bg-about-certification");
      background-size: cover;

      @include res--tablet {
        background-image: none;
        background-color: #1c1c1c;
      }
    }

    @include res--laptop {
      height: 440px;
    }

    @include res--tablet {
      @include flex-direction(row);
      width: 100%;
      height: 160px;
      padding: 0 80px;
    }

    @include res--mobile {
      height: 100px;
      padding: 0 44px;
    }

    // 타이틀 영역
    [class^=title] {
      position: relative;
      display: block;

      @include res--tablet {
        width: 50%;
        margin-right: 50px;
      }

      @include res--mobile {
        min-width: 102px;
        margin-right: 45px;
      }

      &>[class^=icon-] {
        display: block;
        width: 55px;
        height: 55px;
        margin: 0 auto 20px;

        @include res--laptop {
          width: 48px;
          height: 48px;
        }

        @include res--tablet {
          width: 38px;
          height: 38px;
          margin-bottom: 10px;
        }

        @include res--mobile {
          width: 28px;
          height: 28px;
        }
      }

      span {
        display: block;
        margin: 0 auto 60px;
        @include text-hidden;

        @include res--laptop {
          margin-bottom: 30px;
        }

        @include res--tablet {
          margin-bottom: 0;
        }

      }
    }


    .list-detail-container {
      @include res--tablet {
        width: 50%;
      }
    }


    // 텍스트 영역
    .list-detail {
      margin-top: 18px;
      color: #fff;
      font-weight: $fw-r;
      font-size: 21px;
      line-height: 1.24;
      letter-spacing: -0.6px;
      text-align: center;

      &:first-child {
        margin-top: 0;
      }

      @include res--desktop {
        font-size: 18px;
      }

      @include res--laptop {
        margin-top: 12px;
        font-size: 15px;
        text-align: left;
      }

      @include res--tablet {
        margin-top: 10px;
        font-size: 14px;
      }

      @include res--mobile {
        margin-top: 8px;
        font-size: 11px;
      }
    }


    $titleSize: //타이틀 크기
    (1: (width: 101px, height: 20px),
    2: (width: 157px, height: 25px),
    3: (width: 204px, height: 21px));

    @each $nth,
    $value in $titleSize {
      &:nth-child(#{$nth}) .title span {
        width: map-get($value, width);
        height: map-get($value, height);
      }
    }

    @include res--laptop {

      $titleSize: //타이틀 크기
        (1: (width: 90px, height: 18px),
        2: (width: 140px, height: 22px),
        3: (width: 185px, height: 19px));

      @each $nth,
      $value in $titleSize {
        &:nth-child(#{$nth}) .title span {
          width: map-get($value, width);
          height: map-get($value, height);
        }
      }
    }

    @include res--tablet {

      $titleSize: //타이틀 크기
        (1: (width: 75px, height: 15px),
        2: (width: 115px, height: 18px),
        3: (width: 146px, height: 15px));

      @each $nth,
      $value in $titleSize {
        &:nth-child(#{$nth}) .title span {
          margin-top: 14px;
          width: map-get($value, width);
          height: map-get($value, height);
        }
      }
    }

    @include res--mobile {

      $titleSize: //타이틀 크기
        (1: (width: 50px, height: 10px),
        2: (width: 78px, height: 12px),
        3: (width: 102px, height: 10px));

      @each $nth,
      $value in $titleSize {
        &:nth-child(#{$nth}) .title span {
          width: map-get($value, width);
          height: map-get($value, height);
        }
      }
    }

  }



  @each $name,
  $value in $title-about {
    .list-#{$name} .title span {
      @include bgi("title/title-about");
      background-size: map-get($value, size);
      background-position: map-get($value, position);
    }
  }


  @each $name,
  $value in $icon-about {
    .icon-#{$name} {
      @include bgi("icon/icon-about");
      background-size: map-get($value, size);
      background-position: map-get($value, position);
    }
  }

}

// end of article-about


// article-value
.article-value {
  padding-top: 137px;
  padding-bottom: 150px;

  @include res--laptop {
    padding-top: 110px;
    padding-bottom: 123px;
  }

  @include res--tablet {
    display: none;
  }

  .article-title {
    text-align: center;

    .title-large {
      display: block;
      margin: 0 auto;
      width: 235px;
      height: 33px;
      margin-bottom: 20px;
      @include text-hidden;
      @include bgi("title/title-value");
    }

    .title-small {
      font-weight: $fw-l;
      font-size: 20px;
      line-height: 1.48;
      letter-spacing: -0.5px;
      color: #3a3a3a;

      @include res--laptop {
        font-size: 18px;
      }

      strong {
        font-weight: $fw-b;
      }
    }
  }

  .value-list {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    margin-top: 96px;
    padding: 0 70px;


    @include res--tablet {
      @include flex-direction(column);
    }

    .title {
      font-size: 18px;
      font-weight: $fw-b;
      text-align: center;

      @include res--laptop {
        font-size: 16px;
      }

      &:before {
        display: block;
        width: 90px;
        height: 90px;
        margin-bottom: 24px;
        content: '';

        @include res--laptop {
          width: 70px;
          height: 70px;
        }

        @include res--mobile {
          width: 50px;
          height: 50px;
        }
      }
    }
  }

  @each $name,
  $value in $icon-value {
    .list-#{$name} .title:before {
      @include bgi("icon/icon-value");
      background-position: map-get($value, position);
    }
  }
}

// end of article-value


.article-vision {
  padding: 120px 0;
  @include bgi("bg/bg-vision-pc");
  background-size: cover;
  background-position: 50%;

  @include res--laptop {
    padding: 105px 0;
  }

  @include res--tablet {
    padding: 90px 0 95px;
    background-image: none;
    background-color: #f6f6f6;
  }

  @include res--mobile {
    padding: 70px 0 75px;
  }

  .article-title {
    display: none;
    color: #fff;
    text-align: center;

    .title-large {
      display: block;
      width: 180px;
      height: 24px;
      margin: 0 auto;
      @include text-hidden;
      @include bgi("title/title-vision");

      @include res--mobile {
        width: 130px;
        height: 17px;
      }
    }

    .title-small {
      display: block;
      margin-top: 10px;
      color: #404040;
      letter-spacing: -0.5px;
      font-size: 14px;
      font-weight: $fw-m;

      @include res--mobile {
        font-size: 12px;
      }
    }

    @include res--tablet {
      display: block;
    }
  }

  .vision-list {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;

    @include res--tablet {
      @include align-items(center);
      margin-top: 41px;
    }
  }

  .vision-list-item {
    position: relative;
    @include flexbox;
    @include align-items(center);
    margin-left: 65px;
    line-height: 1.67;
    font-size: 18px;

    &:first-child {
      margin-top: 0;
    }

    @include res--laptop {
      margin-top: 0;
      font-size: 15px;
      margin-left: 50px;
    }

    @include res--tablet {
      display: block;
      margin-left: 0;
      margin-top: 52px;
      padding-left: 74px;
    }

    @include res--mobile {
      padding-left: 68px;
      margin-top: 40px;
    }

    &:before {
      display: none;
      position: absolute;
      top: 50%;
      left: 0;
      width: 50px;
      height: 50px;
      transform: translateY(-50%);
      content: '';

      @include res--tablet {
        display: block;
      }
    }

    .vision-title {
      font-weight: $fw-b;
      color: $orange;
      letter-spacing: -0.5px;
      font-size: inherit;
      text-transform: uppercase;

      @include res--tablet {
        min-width: 250px;
        letter-spacing: -0.8px;
      }

      @include res--mobile {
        // min-width: 245px;
        min-width: 230px;
      }

    }

    .vision-text {
      opacity: 0.9;
      color: rgba(236, 236, 236, 0.9);
      font-size: inherit;
      font-weight: $fw-dl;
      letter-spacing: -0.6px;

      @include res--tablet {
        font-size: 13px;
        word-break: keep-all;
        color: rgba(0, 0, 0, 0.9);
      }

      @include res--mobile {
        font-size: 11px;
      }
    }
  }

  @each $name,
  $value in $icon-value {
    .vision-item-#{$name}:before {
      @include bgi("icon/icon-value");
      background-position: map-get($value, position);
    }
  }

}

// end of article-vision


.vision-mobile {
  display: none;
  padding: 32px 0;
  @include bgi("bg/bg-vision-mo");
  background-size: cover;
  background-position: 50%;

  &:before {
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 80px;
    height: 20px;
    content: '';
    @include bgi("logo/logo-white");

    @include res--mobile {
      width: 65px;
      height: 16px;
    }
  }

  @include res--tablet {
    @include flexbox;
    @include flex-direction(column);
    line-height: 1.36;
    letter-spacing: -0.4px;
    font-size: 13px;
    text-align: center;
    color: #cacaca;
  }

  @include res--mobile {
    font-size: 11px;
  }
}