.footer {
  padding: 37px 0;
  background-color: #2d2d2d;

  @include res--laptop {
    padding: 30px;
  }

  @include res--mobile {
    padding: 21px 21px;
  }

  @include res--mobile-sm {
    padding: 21px 15px;
  }

  &>.grid {
    @include flexbox;
    @include align-items(flex-end);
    @include justify-content(space-between);
    padding: 0 30px;

    @include res--tablet {
      padding: 0;
    }
  }

  .copyright-container {
    @include flexbox;
    @include align-items(flex-end);

    @include res--tablet {
      @include justify-content(center);
    }

    .logo {
      width: 103px;
      height: 25px;
      margin-right: 15px;
      @include bgi("logo/logo-gray");

      @include res--mobile {
        width: 83px;
        height: 20px;
        margin-right: 8px;
      }

      @include res--mobile-sm {
        width: 68px;
        height: 18px;
      }
    }

    .copyright {
      font-size: 13px;
      letter-spacing: -0.3px;
      font-weight: $fw-m;
      color: #575757;

      @include res--mobile {
        font-size: 10px;
      }
    }
  }

  .link-container {
    @include flexbox;
    @include align-items(center);

    &>[class^=link-] {
      display: block;
      margin-left: 13px;
      width: 32px;
      height: 32px;
      @include text-hidden;
      @include bgi("icon/icon-link");

      &.link-pinterest {
        background-position: 0 0%;
      }

      &.link-facebook {
        background-position: 0 50%;
      }

      &.link-blog {
        background-position: 0 100%;
      }

      @include res--mobile {
        width: 20px;
        height: 20px;
        margin-left: 14px;
      }
    }
  }
}