// section-company
.section-company {
  position: relative;
}

// article-about
.article-about {
  height: calc(497px - 125px);

  .about-list {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    width: 1200px;
    top: -125px;
    position: absolute;
  }

  .about-list-item {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    position: relative;
    width: 33.33%;
    height: 497px;
    background: #222;

    // 타이틀 영역
    .title {
      position: relative;
      display: block;
      margin: 73px auto 60px;
      background: $orange;

      &:before {
        position: absolute;
        top: -73px;
        left: 50%;
        display: block;
        width: 55px;
        height: 55px;
        content: '';
        background: blue;
        @include transform(translateX(-50%));
      }
    }

    // 텍스트 영역
    .list-detail {
      margin-top: 18px;
      color: #fff;
      font-weight: $fw-r;
      font-size: 21px;
      line-height: 1.24;
      letter-spacing: -0.6px;
      text-align: center;

      &:first-child {
        margin-top: 0;
      }
    }

    $titleSize: //타이틀 크기
    (1: (width: 101px, height: 20px),
    2: (width: 157px, height: 25px),
    3: (width: 204px, height: 21px));

    @each $nth,
    $value in $titleSize {
      &:nth-child(#{$nth}) .title {
        width: map-get($value, width);
        height: map-get($value, height);
      }
    }

  }

}

// end of article-about


// article-value
.article-value {
  padding-top: 137px;
  padding-bottom: 150px;
  outline: 3px solid goldenrod;

  .article-title {
    text-align: center;

    .title-large {
      display: block;
      margin: 0 auto;
      width: 235px;
      height: 33px;
      margin-bottom: 23px;
      background: gold;
    }

    .title-small {
      font-weight: $fw-l;
      font-size: 20px;
      line-height: 1.48;
      letter-spacing: -0.5px;
      color: #3a3a3a;

      strong {
        font-weight: $fw-b;
      }
    }
  }

  .value-list {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    margin-top: 96px;
    padding: 0 70px;

    .title {
      font-size: 18px;
      font-weight: $fw-b;
      text-align: center;

      &:before {
        display: block;
        width: 90px;
        height: 90px;
        margin-bottom: 24px;
        background: green;
        content: '';
      }
    }
  }
}

// end of article-value


.article-keyword {
  height: 348px;
  background: #000;

  .keyword-list {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    height: 100%;
    outline: 2px solid darkblue;
  }

  .keyword-list-item {
    @include flexbox;
    @include align-items(center);
    margin-left: 65px;
    line-height: 1.67;

    .keyword-title {
      margin-right: 13px;
      font-weight: $fw-b;
      color: $orange;
      font-size: 18px;
      letter-spacing: -0.5px;
      text-transform: uppercase;
    }

    .keyword-text {
      opacity: 0.9;
      color: rgba(236, 236, 236, 0.9);
      font-size: 18px;
      font-weight: $fw-dl;
      letter-spacing: -0.6px;
    }
  }
}

// end of article-keyword