.wrap {
  min-width: 360px;
  overflow-x: hidden;
  background-color: #f6f6f6;
}

.grid {
  max-width: 1200px;
  height: 100%;
  // padding: 0 50px;
  margin: 0 auto;

  @include res--desktop {
    max-width: 100%;
  }
}

.invisible {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px 1px 1px 1px);
}

.bold {
  font-weight: $fw-b;
}

.medium {
  font-weight: $fw-m;
}

.primary {
  color: $orange;
}

.br-wide {
  display: block;

  @include res--desktop {
    display: none;
  }
}

.br-pc {
  display: block;

  @include res--laptop {
    display: none;
  }
}

.br-laptop {
  display: none;

  @include res--laptop {
    display: block;
  }
}

.br-tablet {
  display: none;

  @include res--tablet {
    display: block;
  }
}

.show-tablet {
  display: none;

  @include res--tablet {
    display: block;
  }
}

span.show-tablet {
  display: none;

  @include res--tablet {
    display: inline-block;
  }
}

.hide-tablet {
  display: block;

  @include res--tablet {
    display: none;
  }
}

span.hide-tablet {
  display: inline-block;

  @include res--tablet {
    display: none;
  }

}