@charset "utf-8";

// 폰트 경로
$path-font: "../../fonts/";

$fonts: ('Thin': 100,
'Light': 200,
'DemiLight': 300,
'Regular': 400,
'Medium': 500,
'Bold': 700);


@each $name,
$weight in $fonts {

  @font-face {
    font-family: 'Noto Sans KR';
    font-style: normal;
    font-weight: #{$weight};
    src: local('Noto Sans #{$name}'),
    local('NotoSans-#{$name}'),
    url('#{$path-font}eot/NotoSansKR-#{$name}-Hestia.eot'),
    url('#{$path-font}eot/NotoSansKR-#{$name}-Hestia.eot?#iefix') format('embedded-opentype'),
    url('#{$path-font}woff/NotoSansKR-#{$name}-Hestia.woff') format('woff');
  }

}