@charset "utf-8";

// **** variables

// -------------------------
// [ color pallete ]
// -------------------------
$orange: #ff5900; //메인 주황색

// -------------------------
// [ path ]
// -------------------------
$path-image: "../images/";

// -------------------------
// [ font-weight ]
// -------------------------
$fw-b: 700; //bold
$fw-m: 500; //medium
$fw-r: 400; //regular
$fw-dl: 300; //demilight
$fw-l: 200; //light
$fw-t: 100; //thin