@charset "utf-8";

// **** variables

// -------------------------
// [ 1. color pallete ]
// -------------------------
$orange: #ff5900; //메인 주황색

// -------------------------
// [ 2. z-index ]
// -------------------------
$z-gnb: 100; //상단 헤더

// -------------------------
// [ 3. path ]
// -------------------------
$path-image-goVote: "../images/";

// -------------------------
// [ 4. font-weight ]
// -------------------------
$fw-b: 900;
$fw-bl: 700;
$fw-m: 500;
$fw-r: 400;
$fw-l: 200;

// -------------------------
// [ 5. style ]
// -------------------------

// -------------------------
// [ 6. common layout ]
// -------------------------