@charset "utf-8";

// **** variables

// -------------------------
// [ 1. color pallete ]
// -------------------------
$orange: #ff5900; //메인 주황색

// -------------------------
// [ 2. z-index ]
// -------------------------
$z-gnb: 100; //상단 헤더

// -------------------------
// [ 3. path ]
// -------------------------
$path-image-goVote: "../images/";

// -------------------------
// [ 4. font-weight ]
// -------------------------
$fw-b: 700; //bold
// $fw-bl: 700; //black
$fw-m: 500; //medium
$fw-r: 400; //regular
$fw-dl: 300; //demilight
$fw-l: 200; //light
$fw-t: 100; //thin

// -------------------------
// [ 5. style ]
// -------------------------

// -------------------------
// [ 6. common layout ]
// -------------------------